.footer-container {
  padding: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
}
.contacts {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.contacts > div {
  border: 1px solid white;
}
.contacts > img {
  width: 3rem;
  cursor: pointer;
}

.footer-blur {
  bottom: 0;
  left: 15%;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background-color: red;
}
